
@model IEnumerable<ProjectASPCore.Models.Book>

<html>
    <head></head>
    <body>
       @foreach (var book in Model) {

        <h1>@book.Name</h1>
        <h2>@book.ShortDescription</h2>
        <h3>@book.Price.ToString()</h3>

       }
    </body>
</html>